<a href="https://colab.research.google.com/github/emilianot845/Templos_THC_Tareas/blob/main/17_10_23_Templos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Distancia ente dos puntos (ingresar como tuplas)
import math
p=[1,6]
q=[4,3]
print(math.dist(p,q))

4.242640687119285

In [4]:
#Aleatoriedad de numeros con la biblioteca random
import random
"""La semilla (seed) sirve para fijar una base donde los numeros generen una misma sucesion"""
random.seed(5)
print(random.random())

0.6229016948897019

In [6]:
#
import random

print(random.randint(1, 10))

6

In [8]:
import random

Ganador_NFC = ["Philadelphia", "San Francisco", "Dallas"]

print(random.choice(Ganador_NFC))

Dallas

In [15]:
#SUMA DE MATRICES
A=[[1,2,3],[4,5,6],[7,8,9]]
B=[[8,5,1],[6,3,7],[4,1,4]]
for i in range (len(A)):
  print(A[2][i])

7
8
9

In [17]:
A=[[1,2,3],[4,5,6],[7,8,9]]
B=[[8,5,1],[6,3,7],[4,1,4]]
for i in range (len(A)):
  print(A[i][1])

2
5
8

In [29]:
A=[[1,2,3],[4,5,6],[7,8,9]]
B=[[8,5,1],[6,3,7],[4,1,4]]
for i in range (len(A)):
   for j in range(len(A)):
     print(A[i][j])

1
2
3
4
5
6
7
8
9

In [30]:
A=[[1,2,3],[4,5,6],[7,8,9]]
B=[[8,5,1],[6,3,7],[4,1,4]]
for i in range (len(A)):
   for j in range(len(A)):
     print(A[j][i])

1
4
7
2
5
8
3
6
9

In [31]:
A=[[1,2,3],[4,5,6],[7,8,9]]
B=[[10,11,12],[13,14,15],[16,17,18]]
for i in range (len(A)):
   for j in range(len(A)):
     print(A[j][i]+B[j][i])

11
17
23
13
19
25
15
21
27

In [34]:
l=[5,4,3,2,1]
n=len(l)
for i in range(n-1):
  if l[i]>l[i+1]:
    print(l)
    aux=l[i+1]
    l[i+1]=l[i]
    l[i]=aux
    print(l)

[5, 4, 3, 2, 1]
[4, 5, 3, 2, 1]
[4, 5, 3, 2, 1]
[4, 3, 5, 2, 1]
[4, 3, 5, 2, 1]
[4, 3, 2, 5, 1]
[4, 3, 2, 5, 1]
[4, 3, 2, 1, 5]